<div class="alert alert-danger  fade show ajax-error d-none" role="alert">
  <div class="alert-text"></div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success  fade show ajax-success d-none" role="alert">
  <div class="alert-text"></div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>