{% macro list_document(document) %}
    <div class="row row-line">
        <div class="col-md-6">{{ form_row(document.libDocument) }}</div>
        <div class="col-md-4">{{ form_row(document.fichier) }}</div>
        
        <div class="col-md-1 ">
            {% if document.vars.value  and document.vars.value.fichier is not null %}
            <a class="btn btn-dark" target="_blank" href="{{ path('fichier_index', {id:  document.vars.value.fichier.id}) }}" download> <i class="fe fe-upload"></i>
                <i class="fe fe-folder"></i></a>
            {% endif %}
        </div>
        
        <div class="col-md-1 del-col">

        </div>
    </div>
{% endmacro %}